__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/
.idea/
.pytest_cache/
.tox/
*.log
*.png
*.html
dropdown_opened.html
dropdown_page.html
.DS_Store
Thumbs.db
.env
*.env
allure-results/
allure-report/
.vscode/
*.sqlite3